<form id="formChat" class="row g-3">
    <input type="email" id="email" placeholder="Ingrese su e-mail" class="form-control input-email" required />
    <input  type="text" id="textoMensaje" placeholder="Ingrese su mensaje..." class="form-control input-textoMensaje">
    <span class="input-group-btn">
        <input type="submit" class="btn btn-primary btn-dark"></button>
    </span>
</form>
            <div class="direct-chat-messages">
            <div id="messages"></div> 
        </div>
        <div class="box-footer">
            
    